@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&family=Montserrat:ital@0;1&family=Roboto&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital@0;1&family=Inter:wght@100..900&family=Montserrat:ital@0;1&family=Roboto&family=Teko:wght@300..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root{
    --fonte-teko:"Teko", sans-serif ; 
    --fonte-Roboto: "Roboto", sans-serif;
    --fonte-montserrat: "Montserrat", sans-serif;
    --fonte-epioigue:"Epilogue", sans-serif;
    --fonte-inter:  "Inter", sans-serif;
}
body{
    background-color: #1f1517 ;
    color: white;   
}
html{
    font-family: var(--fonte-inter);
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #fff2e780;
   
}
ul{
    list-style: none;
}
nav{
    max-width: 1120px;
    margin: auto;
    padding: 1.5rem 10rem;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-family: var(--fonte-teko);
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
}
.lista{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.git{
    color:#fff2ef;
    font-weight: 600;
}
main{
    display: flex;
    flex-direction:column;
}
.principal{
    background-color: #181012;
}
.hero{
    background-color: #181012;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 1120px;
    height: 60vh;
    gap: 6rem;
    padding: 0rem 2rem;
    overflow: clip;
}
.hero-conteudo{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.destaque{
    font-family: var(--fonte-epioigue);
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.marrom{
    color: #a45a49;
}
.amarelo{
    color: #e7a80e ;
}
h1{
    font-family: var(--fonte-montserrat);
    font-size: 3.5rem;
    font-weight: 800;
}
hr{
   border-color: #a45a49; 
}
.hero-subtitulo{
    color: #c7bab3;
    font-family: var(--fonte-inter);
    font-size: 1.5rem ;
    font-weight: 400;
}
.hero-img-container{
    max-width: 45%;
    column-count: 3;
    column-gap: 1rem;
    margin: -1rem;

}
.hero-img-container > figure > img{
    width: 100%;
    border-radius: .5rem;
}
.receitas{
    display: flex;
    flex-direction: column;

    max-width: 1120px;
    padding: 3rem 2rem;
    margin: auto;
}
.receita-cabecalho{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.receita-titulo{
    font-family: var(--fonte-montserrat);
    font-size:2rem ;
    font-weight: 700;
    color: #fff2e7;
}
.receita-subtitulo{
    font-family: var(--fonte-inter);
    font-weight: 400;
 }

.receita-card-container{
    padding: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap ;
    gap: 2rem;
 }
 .receita-card{
    background-color: #241a1c;
    padding: 2rem;
    border-radius: .5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-basis: 29rem;
    margin-top:2rem ;
 }
.receita-card-cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.receita-card-cabecalho-detalhe{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.receita-titulo-h3{
    font-family: var(--fonte-montserrat);
    font-size: 1.5rem ;
    font-weight: 700;
    color: #fff2e7;
}
.receita-avaliacao{
   font-family: var(--fonte-inter) ;
   font-size: 1rem;
   font-weight: 500;
   color: #756a67; 
}
.receita-paragrafo{
    font-family: var(--fonte-inter);
    font-size: 1rem;
    font-weight: 400;
    color: #c7bab3;
}   
.receita-autor{
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: .5rem;
}
.receita-img-autor{
    border-radius: 20rem;
    width:1.5rem;
}
.receita-autor-nome{
    font-family:var(--fonte-inter) ;
    font-size: 1rem;
    font-weight: 600;
    color: #c7bab3;
}
footer{
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    background-color: #23181a;
}
.rodape-copy{
    font-family: var(--fonte-inter);
    font-size: 1rem;
    font-weight: 500;
    color: #fff2e7;
}
.footer-autor{
    font-family: var(--fonte-inter);
    font-size: 1rem ;
    font-weight: 500;
    color: # rgba( 255, 242, 231, 0.50);
}